<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>

		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, 
             PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
 
	</system.web>
	<system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="400" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="404" path="error.aspx?code=400" responseMode="Redirect" />
      <error statusCode="400" path="error.aspx?code=403" responseMode="Redirect" />
      <error statusCode="403" path="error.aspx?code=404" responseMode="Redirect" />
      <error statusCode="500" path="error.aspx?code=500" responseMode="Redirect" />
    </httpErrors>
		<defaultDocument enabled="true">
			<files>
				<clear/>
				<add value="Default.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
  <connectionStrings>
    <add name="mydb" connectionString="Server=#;Database=#;User ID=#;Password=#Trusted_Connection=false;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>